<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Fundación Mondo</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:400,500,700" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="imgs/lgo_fm.ico" />
	
	<link rel="stylesheet" href="css/normalize.min.css">
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
	<link rel="stylesheet" href="css/toastr.min.css">
	<link rel="stylesheet" href="css/theme7.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/menu.css">
</head>
<body>
	<div class="load"></div>
	<div class="menu_movil">
		<div class="menu_circulo">
			<div class="menu_conten">
				<div class="sec_logo">
					<img class="menu_logo" src="imgs/lgo_blanco_ch.png" alt="Logo Fundación Mondo">
					<img class="menu_btn_close cambio" src="imgs/menu_btn_close.png" alt="Botón cerrar">				
				</div>
				<nav class="nav_options">
					<ul>
						<li><a class="btns_menu transicion" href="#inicio">INICIO</a></li>
						<li><a class="btns_menu transicion" href="#sec_q_somos">¿QUIÉNES SOMOS?</a></li>
						<li><a class="btns_menu transicion" href="#sec_l_accion_movil">LÍNEAS DE ACCIÓN</a></li>
						<li><a class="btns_menu transicion" href="#sec_colabo">COLABORACIÓN</a></li>
						<li><a class="btns_menu transicion" href="#sec_agenda">AGENDA</a></li>
						<li><a class="btns_menu transicion" href="#sec_contacto">CONTACTO</a></li>
					</ul>
				</nav>
				<nav class="nav_links">
					<ul>
						<li>
							<a href="http://fundacionmondo.org.mx/noticias/" target="_blank"><img src="imgs/ico_noticias.png" alt="Noticias">NOTICIAS</a>
						</li>
						<li>
							<a href="http://fundacionmondo.org.mx/noticias/contacto/" target="_blank"><img src="imgs/ico_suscrip.png" alt="Suscríbete">SUSCRÍBETE</a>
						</li>
						<!-- <li>
							<a href=""><img src="imgs/ico_apoyanos.png" alt="Apóyanos"></a>
						</li> -->
					</ul>
				</nav>
				<nav class="nav_rds">
					<a href="https://www.facebook.com/FundacionMONDO/" target="_blank"><img src="imgs/ico_fb.png" alt="Facebook"></a>			
					<a href="https://twitter.com/fundacionmondo" target="_blank"><img src="imgs/ico_twt.png" alt="Twitter"></a>
				</nav>
			</div>
		</div>
	</div>
	<div class="menu_movil_fxd">
		<div>
			<img class="fxd_logo" src="imgs/lgo_blanco_ch.png" alt="Logo Fundación Mondo">
			<img class="fxd_btn_menu" src="imgs/menu_btn.png" alt="Menu">
		</div>
	</div>
	<header class="menu_desktop header_cambio ">
		<div class="width" >

			<img class="fxd_logo" src="imgs/lgo_blanco_ch.png" title="Fundación Mondo" alt="Logo Fundación Mondo">

			<nav class="nav_options">
				<ul>
					<li><a id="1" class="btns_menu transicion" href="#inicio">INICIO</a></li>
					<li><a id="2" class="btns_menu transicion" href="#sec_q_somos">¿QUI&Eacute;NES SOMOS?</a></li>
					<li><a id="3" class="btns_menu transicion" href="#sec_l_accion_desktop">LÍNEAS DE ACCIÓN</a></li>
					<li><a id="" class="btns_menu transicion" href="#sec_colabo">COLABORACIÓN</a></li>
					<li><a id="" class="btns_menu transicion" href="#sec_agenda">AGENDA</a></li>
					<li><a id="" class="btns_menu transicion" href="#sec_contacto">CONTACTO</a></li>
				</ul>
			</nav>
			<div class="nav_links">
				<ul>
					<li>
						<a href="http://fundacionmondo.org.mx/noticias/" target="_blank"><img src="imgs/ico_noticias.png" title="Noticias" alt="Noticias">NOTICIAS</a>
					</li>
					<li>
						<a href="http://fundacionmondo.org.mx/noticias/contacto/" target="_blank"><img src="imgs/ico_suscrip.png" title="Suscríbete" alt="Suscríbete">SUSCRIBETE</a>
					</li>
					<!-- <li>
						<a href=""><img src="imgs/ico_apoyanos.png" title="Apóyanos" alt="Apóyanos"></a>
					</li> -->
				</ul>
			</div>

		</div>
	</header>
	<div class="fondo_gral">	
		<section id="inicio" class="inicio section" >
			<div class="inicio_cont centrado fadeInDown wow">
				<img class="lgo_movil" src="imgs/lgo_blanco_vrt.png" title="Fundación Mondo "alt="Logo Fundación Mondo">
				<img class="lgo_desktop" src="imgs/lgo_blanco_ch.png" title="Fundación Mondo "alt="Logo Fundación Mondo">
				<div>
					<span class="line_lf"></span>
					<h3>
						Somos parte de una misma galaxia.
					</h3>
					<span class="line_rg"></span>
				</div>
				<div class="rds_home">
					<a href="https://www.facebook.com/FundacionMONDO/" target="_blank"><img src="imgs/ico_fb.png" title="Síguenos en facebook" alt="Facebook"></a>
					<a href="https://twitter.com/fundacionmondo" target="_blank"><img src="imgs/ico_twt.png" title="Síguenos en twitter" alt="Twitter"></a>
				</div>
			</div>
		</section>

		<section id="sec_q_somos" class="q_somos section" >
			<div class="q_somos_cont centrado wow zoomIn">
				<img class="imgs_right  " src="imgs/ico_qs_right.png">
				<p>
					<strong style="font-size:1.1em"><i>Fundación MONDO,</i></strong> <br />
					es una asociación en constante movimiento, recorriendo mundos y sistemas solares en búsqueda de grupos infantiles con capacidades diferentes con el fin de generar su integración social y ser parte de la misma galaxia; a través de la colaboración entre asociaciones civiles e iniciativa privada.
					<br/>
					<br/>
					Nuestro <strong>objetivo</strong> es beneficiar a los grupos infantiles con capacidades diferentes en su integración social.
				</p>
				<img class="imgs_left  " src="imgs/ico_qs_left.png">
			</div>
		</section>
	
		<section id="sec_l_accion_movil" class="l_accion_movil" >
			<ul class="bxslider">
			  <li id="la1_movil" class="la_rueda alto_slider">
			  	<div class="l_accion_cont">
			  		<img class="la_img" src="imgs/ico_educacion.png" alt="Educación">
			  		<h2>EDUCACÍON</h2>
			  		<div class="info_accion">
						Formación académica inclusiva que involucra a todos los actores: niños con capacidades especiales, familias, escuelas y sociedad. Fomentar, direccionar e identificar sus talentos, logrando autovaloración. 
			  		</div>
			  		<img class="ico_estrella" src="imgs/ico_estrellas.png">
			  	</div>
			  </li>
			  <li id="la2_movil" class="la_rueda alto_slider">
			  	<div class="l_accion_cont">
				  	<img class="la_img" src="imgs/ico_salud.png" alt="Salud">
				  	<h2>SALUD</h2>
			  		<div class="info_accion">
						Atender los problemas físicos y psicológicos que afectan el estado físico o mental de nuestros niños.
			  		</div>
			  		<img class="ico_estrella" src="imgs/ico_estrellas.png">
			  	</div>
			  </li>
			  <li id="la3_movil" class="la_rueda alto_slider">
			  	<div class="l_accion_cont">
				  	<img class="la_img" src="imgs/ico_investigacion.png" alt="Investigación">
				  	<h2>INVESTIGACIÓN</h2>
			  		<div class="info_accion">
						Búsqueda constante y permanente de soluciones e innovaciones qu aumentan el éxito de nuestro objetivo.
			  		</div>
			  		<img class="ico_estrella" src="imgs/ico_estrellas.png" >
		  		</div>
			  </li>
			  <li id="la4_movil" class="la_rueda alto_slider">
			  	<div class="l_accion_cont">
				  	<img class="la_img" src="imgs/ico_comunicacion.png" alt="Comunicación">
				  	<h2>COMUNICACIÓN</h2>
			  		<div class="info_accion">
						Informar a todos los actores sobres la situación actual, formar una actitud inclusiva y mantenerlos actualizados sobre los avances en el tema.
			  		</div>
			  		<img class="ico_estrella" src="imgs/ico_estrellas.png">
		  		</div>
			  </li>
			  <li id="la5_movil" class="la_rueda alto_slider">
			  	<div class="l_accion_cont">
				  	<img class="la_img" src="imgs/ico_empleos.png" alt="Empleos">
				  	<h2>EMPLEOS</h2>
			  		<div class="info_accion">
						Generar profesionales capaces de integrarse a la cadena productiva del país. Fomento, promoción y creación de StarUps sociales sostenibles, con visión hacia personas con capacidades diferentes.
			  		</div>
			  		<img class="ico_estrella" src="imgs/ico_estrellas.png">
		  		</div>
			  </li>
			</ul>
		</section>
		<section id="sec_l_accion_desktop" class="l_accion_desktop section" >
			<div class="l_accion_dsktp_cont">
				<div class="sec_circulos">
					<div id="la_1" data-fondo="imgs/la_educacion_click.png" class="cambio btn_la inicial_la_1 wow bounceInDown">
						<h2>EDUCACIÓN</h2>
					</div>
					<div id="la_2" data-fondo="imgs/la_salud_click.png" class="cambio btn_la inicial_la_2 wow bounceInUp">
						<h2>SALUD</h2>
					</div>
					<div id="la_3" data-fondo="imgs/la_investigacion_click.png" class="cambio btn_la inicial_la_3 wow bounceInDown">
						<h2>INVESTIGACIÓN</h2>
					</div>
					<div id="la_4" data-fondo="imgs/la_comunicacion_click.png" class="cambio btn_la inicial_la_4 wow bounceInUp">
						<h2>COMUNICACIÓN</h2>
					</div>
					<div id="la_5" data-fondo="imgs/la_empleos_click.png" class="cambio btn_la inicial_la_5 wow bounceInDown">
						<h2>EMPLEOS</h2>
					</div>					
				</div>
				<div class="la_info wow zoomIn">
					<div id="info_la_1" class="txt_info">
						Formación académica inclusiva que involucra a todos los actores: niños con capacidades especiales, familias, escuelas y sociedad. Fomentar, direccionar e identificar sus talentos, logrando autovaloración. 
					</div>
					<div id="info_la_2" class="txt_info">
						Atender los problemas físicos y psicológicos que afectan el estado físico o mental de nuestros niños.
					</div>
					<div id="info_la_3" class="txt_info">
						Búsqueda constante y permanente de soluciones e innovaciones qu aumentan el éxito de nuestro objetivo.
					</div>
					<div id="info_la_4" class="txt_info">
						Informar a todos los actores sobres la situación actual, formar una actitud inclusiva y mantenerlos actualizados sobre los avances en el tema.
					</div>
					<div id="info_la_5" class="txt_info">
						Generar profesionales capaces de integrarse a la cadena productiva del país. Fomento, promoción y creación de StarUps sociales sostenibles, con visión hacia personas con capacidades diferentes.
					</div>
					<img src="imgs/ico_estrellas.png" alt="Estrella">
				</div>
			</div>
		</section>
		
		<section id="sec_colabo" class="colabo section " >
			<div class="colabo_cont ">
				<div class="colabo_grupo wow zoomIn">
					<img src="imgs/grupo_colabora.png" title="Grupo de Colaboradores" alt="Grupo de Colaboradores">
				</div>
				<div class="colabo_info wow zoomIn">
					<div>
						<img src="imgs/logo_mondo.png" alt="Logo Fundación Mondo" title="Fundación Mondo">
						<p>Gestión y conexión de personas, instituciones, recursos, etc.</p>
					</div>					
					<div>
						<img src="imgs/logo_mfs.png" alt="Logo My First Steps" title="My First Steps">
						<p>Educación, formación e inclusión de padres e hijos </p>
					</div>					
					<div>
						<img src="imgs/logo_cotti.png" alt="Logo Cotti" title="Cotti">
						<p>Diagnóstico, evaluación y tratamiento de padres e hijos</p>
					</div>					
				</div>
			</div>
		</section>
		
		<section id="sec_agenda" class="section sec_agenda_cont">
			<div class="agenda-container wow fadeIn">
                <div class="inner-container">
                    <div class="agenda-viewport">
                    
                    </div>
                    <div class="agenda-pager">
                        <span class="pager-header">EVENTOS</span>

                        <ul class="pager">                            
                        </ul>
                    </div>
                </div>                    
            </div>
		</section>

		<section id="sec_contacto" class="section contacto">
			<div class="contacto_cont centrado wow fadeInUp">
				<form  method="POST" data-toggle="validator" role="form" id="contacto_mondo">
					<div>
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" name="nombre" class="" title="Tu Nombre" />
					</div>						
					<div>
						<label for="email">Correo:</label>
						<input type="email" id="correo" name="correo" class="" title="Tu correo" />
					</div>						
					<div>
						<label for="asunto">Asunto:</label>
						<input type="text" id="asunto" name="asunto" class="" title="Asunto a tratar" />
					</div>						
					<div>
						<textarea id="mensajes" name="mensaje" class="" cols="50" rows="7" title="Tu mensaje" placeholder="Mensaje"></textarea>
					</div>
					<div class="submit">						
						<input type="submit" class="cambio" value="Enviar" />
					</div>	

				</form>
				<div class="contac_info">
					<div>						
						contacto@fundacionmondo.org.mx <br/>
						938 384 4334 <br/>
						Extensión 212
					</div>
					<address>
						Calle Av. Isla de Tris #97 int 2 <br />
						Col. Francisco I. Madero. <br /> 
						Cd. del Carmen, Campeche <br />
						Cp. 24190
					</address>
				</div>
			</div>
		</section>
		
	</div>
	<footer class="">
		
		<div class="ftr_rds centrado">
			<div>
				<a href="https://www.facebook.com/FundacionMONDO/" target="_blank"><img src="imgs/ico_fb.png" title="Síguenos en facebook" alt="Facebook"></a>
				<a href="https://twitter.com/fundacionmondo" target="_blank"><img src="imgs/ico_twt.png" title="Síguenos en twitter" alt="Twitter"></a>
			</div>
			<p>FUNDACIÓN MONDO - 2016 <br />
				TODOS LOS DERECHOS RESERVADOS
			</p>
		</div>
	</footer>

	<!-- templates -->
    <script id="tasks_template" type="text/template">
    {% for eventsInMonth in eventsByMonth %}
    <!-- mes -->
    <div id="month-{{ loop.index }}" class="month">
        <p class="header2">{{ loop.key | monthyear("MMMM YYYY") }}</p>
        <div class="events">
            {% for rowMonthEvent in eventsInMonth %}
            
            <!-- fila -->
            <div class="row">
                
                {% for event in rowMonthEvent %}
                <!-- evento -->
                <div class="event">
                    <div class="event-header">
                        <div class="event-title">{{ event.task.title | capitalize }}</div>
                        <div class="event-date">{{ event.reminder.date | locale }}</div>
                    </div>
                    <div class="event-body">
                        <p>{{ event.note.content }}</p>
                        <div class="event-share">
                            <!-- AddEvent button -->
                            <div title="Agregar a Calendario" class="addeventatc">
                                + Calendario                                    
                                <span class="start">{{ event.reminder.date | calendar }}</span>
                                <span class="end">{{ event.reminder.date | calendar }}</span>
                                <span class="timezone">America/Mexico_City</span>
                                <span class="title">{{ event.task.title | capitalize }}</span>
                                <span class="description">{{ event.note.content | capitalize }}</span>
                                <span class="date_format">MM/DD/YYYY</span>
                            </div>
                        </div>
                    </div>                        
                </div>
                <!-- / evento -->
                {% endfor %}
                                          
            </div>
            <!-- / fila --> 

            {% endfor %}      
        </div>
    </div>
    {% endfor %}
    </script>

    <script id="tasks_pager_template" type="text/template">
    {% for eventsInMonth in eventsByMonth %}
    <li class="pager-month" data-month="#month-{{ loop.index }}">
        <div class="month-maker">                
            {{ loop.key | monthyear("MMMM YY") }}
            <span class="marker"></span>
        </div>
        <ul class="pager-event"> 
            {% for rowMonthEvent in eventsInMonth %}
                {% for event in rowMonthEvent %}
                    <li class="event-marker"><span class="marker"></span></li>                        
                {% endfor %}
            {% endfor %}                
        </ul>
    </li>
    {% endfor %}
    </script>

		   

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>		
	<script src="js/jquery.bxslider.js"></script> 
	<script src="js/toastr.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="https://addevent.com/libs/atc/1.6.1/atc.min.js"></script>
	<script src="js/q.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/swig.min.js"></script>
	<script src="js/moment-with-locales.js"></script>
	<script src="js/wunderlist/wunderlist.sdk.js"></script>
	<script src="js/wunderlist/wunderapi.js"></script>
	<script type="text/javascript" src="js/transiciones.js"></script>
	<script src="js/efectos.js"></script>

	</body>
</html>